<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>POD</title>
  </head>
  <body>
    <div id="outerContainer" class="container">

      {{{content}}}

    </div>
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
