<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>POD</title>

    <script src="/elements/pod/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/elements/pod/bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="/elements/pod/bower_components/iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="/elements/pod/pod-app.html">
    <link rel="import" href="/elements/pod/pod-card.html">
    <link rel="import" href="/elements/pod/bower_components/app-route/app-route.html">
    <link rel="import" href="/elements/pod/bower_components/app-route/app-location.html">
  </head>
  <body>
    {{{content}}}
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
