<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<h1 class="title">Pod</h1>
<img class="logo" src="assets/images/logo.svg" alt="Pod shell logo design">
<h3 class="tag-line">Shopping Simplified.</h3>
<a id="loadLink" href="/card?ajax=true"><img class="visa-img" src="assets/images/visa.png" alt="Add your card">
</a>
