<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<h1 class="title">Pod</h1>
<img class="logo" src="assets/images/logo.svg" alt="Pod shell logo design">
<h3 class="tag-line">Shopping Simplified.</h3>
<div class="visa-img">
  <input alt="Add your card" style="display: none;" type="file" accept="image/*" capture="camera" id="camera">
</a>

<script>
  var shopCoordinates = {{{shopCoordinates}}};
</script>
