
body {
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  margin: 0px;
}

.app-shell {
  display: flex;
  width: 95%;
  height: 96vh;
  background-color: #f6f3f5;
  border: 1px solid #ada9ad;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 2px #e2e0e2;
  text-align: center;
}
