// Modules and partials
@import "partials/base";

// Import partials
@import "partials/reset";
@import "partials/globals";

@import "partials/animations";
@import "partials/buttons";
@import "partials/grids";
@import "partials/typography";

// Import layout
@import "layouts/header";





.status-bar {
  display: flex;
  width: 100%;
  min-height: 4vh;
  background-color: #76a56d;
  margin-bottom: 2%;
  box-shadow: 1px 1px 5px 2px #e2e0e2;
  border: 1px outset;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#location {
  color: $white;
}

.app-shell {
  display: flex;
  width: 96%;
  min-height: 93vh;
  background-color: #f6f3f5;
  border: 1px solid #ada9ad;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 2px #e2e0e2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#loadLink {
  display: none;
  justify-content: center;
  max-width: 35%;
  height: auto;
}



.visa-img {
  animation-name: blink ;
  animation-duration: .5s ;
  animation-timing-function: step-end ;
  animation-iteration-count: infinite ;
  animation-direction: alternate ;
  display: block;
  width: 250px;
  background-repeat: no-repeat;
  background-image: url('../images/visa.png');
  height: 158px;
  border: 2px dashed #f6f3f5;
  // padding: 4%;
  border-radius: 0.5rem;
}
