.title {
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  color: $dark-green;
}

.logo {
  width: 65%;
  padding-left: 9%;
}

.tag-line {
  font-family: 'Roboto', sans-serif;
  color: $dark-green;
  padding-bottom: 15%;
}
